*.log
textures/non-free/
map/feedback.vmt
map/feedback.vtf
map/LargeSmoothTiles.vmt
map/LargeSmoothTiles.vtf
map/MicrocrackConcreteWall_basecolor_resized.vmt
map/MicrocrackConcreteWall_basecolor_resized.vtf
map/minimapFromDropToA.vmt
map/minimapFromDropToA.vtf
map/rubberGrayFloorProtector.vmt
map/rubberGrayFloorProtector.vtf
map/ScratchedBrushedSteel.vmt
map/ScratchedBrushedSteel.vtf
